@import "//at.alicdn.com/t/font_2391403_e51lyxg0uoc.css";

// 左侧边栏标题字体大小样式
.sidebar-heading span{
    font-size: 1.2em;
    font-weight: bold;
}
.sidebar-heading.open span{
    font-weight: bold;
}

// 左侧边栏展开文章的字体大小
a.sidebar-link.active {
    background: transparent !important;
}
